<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script defer src="vue.global.js"></script>
    <script defer src="client.js" type="text/javascript"></script>
</head>

<body>
    <div id="app">
        <h1> Round-robin tournament viewer </h1>
        <input type="number" name="numOfPlayers" id="numOfPlayers" value="4" min="2" max="20">
        <button @click="reset"> Reset </button>
        <hr>
        <div id="teamNames">
            <input v-for="(team,index) in teamNames" v-on:keydown.enter="setTeamName(index)" type="text"
                :value="[[ team ]]" :id="[[ index ]]">
        </div>
        <div class="grid" v-for="(result, resultIndex) in results" :id="[[ 'row' + resultIndex ]]">
            <span> <strong> {{ teamNames[resultIndex] }} </strong> </span>
            <div id="scoreboard" class="container">
                <div v-for="(score, scoreIndex) in result" v-bind:class="displayResultFor(score)"
                    @click="changeResult(resultIndex, scoreIndex)">
                    {{ displayResultFor(score) }}
                </div>
            </div>
        </div>

        <ol id="leaderboard">
            <li v-for="ranking in rankings">
                {{ ranking.teamName }} is {{ ranking.wins }}-{{ ranking.draws }}-{{ ranking.losses}}
            </li>
        </ol>
    </div>
</body>

</html>