.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

input {
    width: 143px;
}

.container>div {
    display: table-cell;
    width: 149px;
    height: 34px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

#teamNames {
    position: relative;
    left: 149px;
}

.Win {
    background-color: green;
}

.Loss {
    background-color: red;
}

.Draw {
    background-color: yellow;
}

.NA {
    background-color: gray;
}

.grid {
    display: grid;
    grid-template-columns: 149px auto;
}