.grid-container {
    display: grid;
    grid-auto-columns: 100px;
    background-color: #ffffff;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}